<!-- <div>
    <h2>Interpolation</h2>
    <p>create variables and fun or make some operation in typescript and call it in html using double curly braces </p>
    <p>Hello {{name.toUpperCase()}}</p>
    <p>name legth is {{name.length}}</p>
    <p>my fun retuns name  {{funName()}}</p>
    siteUrl
    <p>siteUrl is {{siteUrl}}</p>
</div>
<div>
    <h4>property binding</h4>
    <input  [id]="myId" type="text" value="{{name}}">
    <input  disabled="isDisabled" [id]="myId" type="text" value="{{name}}">
</div>
<div>
    <p>class binding </p>
    <p>if we have on class hasError or if we have multiple classes ngClass going to be used</p>
    <h2 [ngClass]="messageClasses">Class Binding with class based on experssion text displayed particular color</h2>
</div>
<div>
    <h2 [style.color]="hasError ? 'red':'green'">style binding</h2>
</div>
<div>
    <h4>eventb binding</h4>
    <button (click)="onClick($event)">click</button>
    <p>{{clickinfo}}</p>
</div>
<div>
    <p>check input in console</p>
    <input #myId type="text">
    <button (click)="logMessage(myId.value)">submit</button>
</div>
<div>
    <h1>Thwo way binding</h1>
    <input [(ngModel)]="myname" type="text" placeholder="enter ">
    {{myname}}
</div>
<div>
    <h1>structural directives ngIf,ngSwith,ngFor</h1>
</div>
<div *ngIf="displayName; then thenBlock; else elseBlock "></div>
<ng-template #thenBlock>
    <h5 style="color: green;">if block executed</h5>
</ng-template>
<ng-template #elseBlock>
    <h5 style="color: red;">else block executed</h5>
</ng-template> -->
<!-- <div [ng-Switch]="banna">
    <div *ngSwitchCase="red">You picked red</div>
    <div *ngSwitchCase="green">You picked red</div>
    <div *ngSwitchCase="yellow">You picked red</div>
    <div *ngSwitchDefault>pick again</div>
</div> -->
    
<!-- <div>
    <h1>switch statememts</h1>
    <span [ngSwitch]="false">
        <p *ngSwitchCase="true">
            hey swithced to true
        </p>
        <p *ngSwitchCase="false">
            hey switched to false
        </p>
        <p *ngSwitchDefault>
            hey swithced to default
        </p>
        </span>
</div>
<div>
    <h2>fetching array of colors using *ngFor </h2>
    <div *ngFor="let item of colors; index as i">
        <h4>{{i}} {{item}}</h4>
    </div>
</div> -->
<!-- <div>
    <h1>Hello {{personname}} name comes from parent to child</h1>
    <h2>child to parent</h2>
    <button (click)="fireEvent()">click</button>
</div> -->
