
<div class="container" >
    <div class="mat-display"  >
        <mat-card >
            <div  class="pin-div">
                <button mat-icon-button class="pin" (click)="pinned()">
                  <mat-icon matTooltip="pin note">
                    <img src="../../../assets/icons/pin.svg" style="width: 25px;height: 25px;">
                  </mat-icon>
                </button>
              </div>
              <div  class="pin-div">
                <button mat-icon-button class="pin" (click)="pinned()">
                  <mat-icon matTooltip="unpin note">
                    <img src="../../../assets/icons/pinicon.png" style="width: 25px;height: 25px;">
                  </mat-icon>
                </button>
              </div>
            <div class="mat-title">
                
                <mat-card-title>
                     {{ note.title }}
                </mat-card-title>
            </div>
            <div class="mat-desc">
                
                <mat-card-content>
                    {{ note.description }}
                </mat-card-content>
            </div>
            <div class="note-icon">
                <button mat-icon-button>
                    <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon matTooltip="Collaborator">person_add</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu1">
                    <mat-icon matTooltip="Add color">color_lens</mat-icon>
                </button >
                <mat-menu #menu1="matMenu" >
                    <div  fxLayout="row">
                      <div  class="colorsList">
                        <button 
                            
                          ></button>
                      </div>
                    </div>
                  </mat-menu>
                <button mat-icon-button>
                    <mat-icon matTooltip="Add image">crop_original</mat-icon>
                </button>
                <div>
                <button mat-icon-button >
                    <mat-icon matTooltip="Archive">archive</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon matTooltip="unarchive">unarchive</mat-icon>
                </button>
            </div>
                <button mat-icon-button>
                <mat-icon matTooltip="More" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item >
                  Delete Note
                </button>
                <button mat-menu-item>
                  Add label
                </button>
              </mat-menu>
            </div>
        </mat-card>
    </div>
</div>